<div class="metadata">
  <div class="avatar">
    <img [src]="post.author.avatar">
  </div>
  <div class="author">

    <!-- Red Path -->
    <span class="name blink-font" (click)="notifyAuthorClicked(post)">{{ post.author.name }}</span>
    <!-- Blue Path -->
    <span class="date">{{ post.publicationDate | fromNow }}</span> 

  </div>
</div>

<!-- Green Path -->
<div class="post" (click)="notifyPostClicked(post)">
  <h3>{{ post.title }}</h3>
  <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
  <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
</div>
