<!-- Purple Path -->
<form [formGroup]="postForm" (ngSubmit)="emitPostSubmitted()" novalidate>

  <!-- Purple Path -->
  <input
    type="text"
    placeholder="Título"
    class="u-full-width"
    formControlName="title">

  <!-- Purple Path -->
  <textarea
    placeholder="Introduce tu historia"
    class="u-full-width georgia-font"
    formControlName="intro"
    autogrow></textarea>

  <!-- Purple Path -->
  <textarea
    placeholder="Cuenta tu historia"
    class="u-full-width georgia-font"
    formControlName="body"
    autogrow></textarea>

  <!-- Purple Path -->
  <button
    type="submit"
    class="button-primary u-pull-right"
    [disabled]="postForm.invalid">Publicar</button>

</form>
